html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  color: #000;
  position: relative;
}


#begin {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
	/* color:#fff */
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.text{
  font-size: 30px;
  margin: 20px 0;
}
.btn-group{
  display: flex;
}
#btnStart{
  width: 200px;
  margin: 20px;
  padding: 10px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  background-color: rgb(128, 230, 160);
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
}

#btnStart:hover {
  background: rgb(244, 191, 18);
  transform: scale(110%);
}

#game {
  display: flex;
  flex-wrap: wrap;
  max-width: 720px;
  height: 600px;
  cursor: pointer;
  z-index: 2;
}

#function {
  width: 200px;
  height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 2;
}


#time {
  color: #333;
  font-size: 40px;
}

.card {
  width: 100px;
  height: 100px;
  position: relative;
  /* 設定子元素在 3D 空間內 */
  transform-style: preserve-3d;
  float: left;
  transition: transform 1s;
  margin: 10px;
}

.card-front {
  width: 100%;
  height: 100%;
  background-image: url(../atoz/A1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /* 翻過來後隱藏另一面 */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  /* 把花色翻轉到下面 */
  transform: rotateY(180deg);
}

.card-back {
  width: 100%;
  height: 100%;
  background-image: url(../atoz/thumbs.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  /* 翻過來後隱藏另一面 */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.card-open {
  transform: rotateY(180deg);
}


